<div class="survey">
  <div class="survey_title"><%= @survey.name %></div>	
  <div class="survey_info">
	<div class="page_status">Page: 1/1 Question No:<%= @survey.questions.size %></div>
	<%= @survey.desc %>
  </div>
  <div class="survey_body">
    <% @survey.questions.each_with_index do |q, i|%>
	<div class="question">
	  <div class="question_title"><%= i + 1 %>.<%= q.title %></div>

	  <div class="question_body">
		<% q.choices.each_with_index do |c, j| %>			
			<div class="question_item"<%=raw is_selected(@choices, c.id) ? ' style="background-color:#3FC0C0; color:#f0f0f0;"' : ''%>>
			<%= is_selected(@choices, c.id) ? '√' : '∆'%>
			<%= c.content %>
			</div>
		<% end %>
	  </div>
    </div>
    <%end%> 
  </div>

</div>

