<% title "Vanceinfo Surveys" %>
<% content_for :script do %>
	<script type="text/javascript">var current_index = 0;</script>
<%end%>
<div class="view_surveys">
	<div class="title_bar">Survey
		<%if can? :create, Survey %>
			<button style="float:right; padding:3px 10px 3px 10px; margin-top:6px;"><%= link_to 'New Survey', new_survey_path %></button>
		<% end %>			
	</div>
	<ul class="list_surveys">
		<% @surveys.each do |survey| %>
		<li>
			<span class="title"><%= link_to survey.name, survey %></span>
			<span class="management">
			<%if can? :update, survey%>
				<%= link_to 'Edit', edit_survey_path(survey) %> | 
				<%= link_to 'New', "#{new_survey_path}/#{survey.id}", :title => "New from this survey."  %> | 
			<%end%> 
			<%if can? :destroy, survey%>
				<%= link_to 'Delete', survey, confirm: 'Are you sure?', method: :delete %>
			<%end%>
			</span>
			<span class="time"><%= survey.updated_at.strftime('%Y-%m-%d') %></span>
		</li>
		<% end %>		
	</ul>
	<div class="apple_pagination"><%= will_paginate @surveys %></div>
</div>


