<%title "Vanceinfo Surveys"%>

<div class="view_surveys">
	<div class="title_bar">Survey</div>
	<ul class="list_surveys">
		<%= will_paginate(@surveys) %>
		<% @surveys.each do |survey| %>
		<li>
			<span class="title"><td><%= link_to survey.name, survey %></td></span>
			<span class="management">
			<%if can? :update, survey%>
				<%= link_to 'Edit', edit_survey_path(survey) %> | 
			<%end%> 
			<%if can? :destroy, survey%>
				<%= link_to 'Destroy', survey, confirm: 'Are you sure?', method: :delete %>
			<%end%>
			</span>
			<span class="time"><%= survey.created_at.strftime('%Y-%m-%d %H:%M:%S') %></span>
		</li>
		<% end %>
		<%= will_paginate(@surveys) %>
	</ul>
</div>

<%if can? :create, Survey %>
<%= link_to 'New Survey', new_survey_path %>
<% end %>
