<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "iSurvey" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield(:script) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <div id="container">
    <div id="user_nav">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>.<br />
        Not you? <%= link_to "Sign out", destroy_user_session_path, :confirm => 'Are you sure you want to Logout!', :method => :delete, :class => "remove"%>
      <% else %>
        <%= link_to "Sign In", '/users/login' %>
      <% end %>
    </div>
		
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

		<div class="tabs" style="width:100%;">
			<ul>
				<% if can? :manage, Survey %>
					<li><%= link_to "Manage Surveys", surveys_path %></li>
				<% else %>
					<li><%= link_to "Surveys", surveys_path %></li>
				<% end%>
				<% if can? :manage, Role %>
					<li><%= link_to "Manage Roles", '/roles/' %></li>
					<li><%= link_to "Manage Users", '/roles/users' %></li>
				<% end%>
			</ul>
			<div style="padding:20px 30px 30px 30px;">			
	  		<div><%= yield %></div>
			</div>
		<div>
  </div>

  <%= yield(:footer)%>  
</body>
</html>
