<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "iSurvey" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield(:script) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30920638-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>
<body>

<div class="header">
  <div id="user_nav">
    <% if user_signed_in? %>
        Signed in as <%= current_user.email %>.<br/>
        Not
        you? <%= link_to "Sign out", destroy_user_session_path, :confirm => 'Are you sure you want to Logout!', :method => :delete, :class => "remove" %>
    <% else %>
        <%= link_to "Sign In", '/users/login' %>
    <% end %>
  </div>
	<div class="flash_div">
  <% if !flash[:stats] %>
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
  <% end %>
	</div>

  <div class="clear"></div>
</div>

<div id="container">
  <div class="tabs">
    <ul>
      <% if can? :manage, Survey %>
          <li><%= link_to "Manage Surveys", surveys_path %></li>
      <% else %>
          <li><%= link_to "Home", surveys_path %></li>
      <% end %>
      <% if can? :manage, Role %>
          <li><%= link_to "Manage Groups", '/roles/' %></li>
          <li><%= link_to "Manage Users", '/roles/users' %></li>
      <% end %>
    </ul>

    <div class="<%= content_for?(:frame_style) ? yield(:frame_style) : 'frame_padding' %>">
      <%= yield %>
    </div>
  </div>
</div>


  
<div class="footer">
    Made by IID
  <%= yield(:footer)%>
</div>


</body>
</html>
